* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* ''''''header''''''' */
body {
  background-color: beige;
}

header {
  padding-left: 16px;
  padding-right: 16px;
  height: 70px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-logo,
.search-mic,
.header-icons {
  display: flex;
  align-items: center;
  gap: 16px;

}

.bar,
.mic,
.bell,
.profile,
.thumbnail i
{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar:hover,
.bell:hover,
.profile {
  background-color: #F0EBEB;
  border-radius: 50%;

}

.bar-logo img {
  margin-top: 2px;

  width: 93px;
  height: 20px;
}

.search {
  width: 703px;
  height: 48px;
  display: flex;
  justify-content: center;
  background-color: aqua;
}



.search input {
  width: 615px;
  height: 48px;
  align-items: center;
  border: 1px solid;
  border-color: #898989;
  border-right: 0;
  background-color: #fff;
  border-radius: 40px 0 0 40px;
  padding: 0 4px 0 16px;
}

.search button {
  width: 85px;
  height: 48px;
  align-items: center;
  border: 1px solid;
  border-color: #898989;
  border-right: 0;
  background-color: #F0EBEB;
  border-radius: 0 40px 40px 0;
}

.search button i {
  color: #898989;
  font-size: 24px;
}

.mic {
  background-color: #F0EBEB;
  border-radius: 50%;
}



.create {
  width: 97px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0EBEB;
  border: 0px;
  border-radius: 40px;
}


.container {
  display: flex;
}


/* <!-- -------------------aside ------------------ --> */

aside {
  width: 240px;
  height: 100vh;
  background-color: #FFFFFF;
  padding: 15px;
}

.aside-item {
  width: 204px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 17px;
  border-radius: 10px;

}

.aside-item:hover {
  background-color: #e7e5e5;
}

.home {
  background-color: #F0EBEB;

}

.aside-item i {
  padding-right: 40px;
  font-size: 20px;
}

/* <!-- -------------------nav & main------------------ --> */
.nav-main {
  width: 100%;
  border-top: 1px solid #D3D3D3;

}

/* <!-- -------------------nav ------------------ --> */
nav {
  height: 55px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.nav-item {
  margin-left: 12px;
  background-color: #F0EBEB;
  width: fit-content;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 17px;
  border-radius: 10px;

}

.all {
  background-color: #070707;
  color: white;

}

/* <!--<!--<!--<!--<!--<!--  main--> -->-->-->-->-->-->--> */
main {
  border-top: 1px solid #D3D3D3;
  padding: 16px;

}
.video-card img{
  width: 422px;
  height: 238px;
  border-radius: 12px;

}
.thumbnail i:hover{
 background-color: #000000;
  border-radius: 50%;
  color: white;
}